<div class="container">
	<div class="row">
		<div class="twelve columns">
			<dl class="nice contained tabs">
			  <dd><a href="#overview" class="active">Overview</a></dd>
			  <dd><a href="#literature">Literature</a></dd>
			  <dd><a href="#schedule">Schedule</a></dd>
			  <dd><a href="#invoices">Invoices</a></dd>
			</dl>

	
			<ul class="nice tabs-content contained">
	  			<li class="active" id="overview">	
					<p class="clientname"><strong>Pinwood Veterinary Surgery<strong></p>
					<p>Please <a href="http://btbusiness.custhelp.com/app/answers/detail/a_id/7684/~/how-do-i-divert-calls-from-my-phone%3F#" 		target="_blank">divert</a> calls you wish to be answered by our team to <strong>0845 123 1234</strong></span>, we will respond to calls between the hours of <strong>17:00</strong> and <strong>08:30</strong> on <strong>weekdays</strong>. Calls on <strong>weekends</strong> will be answered <strong>24 hours a day</strong>.</li>
	  				<li id="literature">This is a nice tab</li>
					<li id="schedule">This is nice tab 2's content. Now you see it!</li>
	  				<li id="invoices">This is nice tab 3's content. It's, you know...okay.</li>
				</ul>
			</div>
	</div>
</div>
	
	