<div class="container">
	<div class="row">
		<div class="twelve columns">
			<p><strong>Pinwood Veterinary Surgery<strong></p>
			<p>Please divert calls you wish to be answered by our team to <strong>0845 123 1234</strong>
		</div>
	</div>
</div>